{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-special" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-special" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_dreamkas_status" id="input-status" class="form-control">
                {% if module_dreamkas_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_access_token }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_dreamkas_access_token" value="{{ module_dreamkas_access_token }}" placeholder="{{ entry_access_token }}" id="input-name" class="form-control" />
              {% if error_access_token %}
                <div class="text-danger">{{ error_access_token }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_device_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_dreamkas_device_id" value="{{ module_dreamkas_device_id }}" placeholder="{{ entry_device_id }}" id="input-device_id" class="form-control" />
              {% if error_device_id %}
                <div class="text-danger">{{ error_device_id }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_tax_mode }}</label>
            <div class="col-sm-10">
              <select name="module_dreamkas_tax_mode" id="input-tax_mode" class="form-control">
                <option value="DEFAULT" {% if module_dreamkas_tax_mode == 'DEFAULT' %} selected='selected' {% endif %}>{{ text_tax_default }}</option>
                <option value="SIMPLE" {% if  module_dreamkas_tax_mode == 'SIMPLE' %} selected='selected' {% endif %}>{{ text_tax_simple }}</option>
                <option value="SIMPLE_WO" {% if  module_dreamkas_tax_mode == 'SIMPLE_WO' %} selected='selected' {% endif %}>{{ text_tax_simple_wo }}</option>
                <option value="ENVD" {% if  module_dreamkas_tax_mode == 'ENVD' %} selected='selected' {% endif %}>{{ text_tax_envd }}</option>
                <option value="AGRICULT" {% if  module_dreamkas_tax_mode == 'AGRICULT' %} selected='selected' {% endif %}>{{ text_tax_agricult }}</option>
                <option value="PATENT" {% if  module_dreamkas_tax_mode == 'PATENT' %} selected='selected' {% endif %}>{{ text_tax_patent }}</option>
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_tax_type }}</label>
            <div class="col-sm-10">
              <select name="module_dreamkas_tax_type" id="input-tax_type" class="form-control">
                <option value="NDS_NO_TAX" {% if module_dreamkas_tax_type == 'NDS_NO_TAX' %} selected='selected' {% endif %}>{{ text_tax_nds_no_tax }}</option>
                <option value="NDS_0" {% if module_dreamkas_tax_type == 'NDS_0' %} selected='selected' {% endif %}>{{ text_tax_nds_0 }}</option>
                <option value="NDS_10" {% if module_dreamkas_tax_type == 'NDS_10' %} selected='selected' {% endif %}>{{ text_tax_nds_10 }}</option>
                <option value="NDS_20" {% if module_dreamkas_tax_type == 'NDS_20' %} selected='selected' {% endif %}>{{ text_tax_nds_20 }}</option>
                <option value="NDS_10_CALCULATED" {% if module_dreamkas_tax_type == 'NDS_10_CALCULATED' %} selected='selected' {% endif %}>{{ text_tax_nds_10_calculated }}</option>
                <option value="NDS_20_CALCULATED" {% if module_dreamkas_tax_type == 'NDS_20_CALCULATED' %} selected='selected' {% endif %}>{{ text_tax_nds_20_calculated }}</option>
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-paid_order">{{ entry_paid_order }}</label>
            <div class="col-sm-10">
              <select name="module_dreamkas_paid_order" id="input-paid_order" class="form-control">
                {% for status in order_statuses %}
                  <option value='{{ status.order_status_id }}' {% if module_dreamkas_paid_order == status.order_status_id %} selected='selected' {% endif %}>{{ status.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-4 control-label" for="input-payments-ids">{{ entry_payments_ids }}</label>
            <div class="col-sm-8">
              <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for type in paymenttypes %}
                <div class="checkbox">
                  <label> {% if type.code in module_dreamkas_payments_ids %}
                    <input type="checkbox" name="module_dreamkas_payments_ids[]" value="{{ type.code }}" checked="checked" />
                    {{ type.name }} ({{ type.code }})
                    {% else %}
                    <input type="checkbox" name="module_dreamkas_payments_ids[]" value="{{ type.code }}" />
                    {{ type.name }} ({{ type.code }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
              {% if error_complete_status %}
              <div class="text-danger">{{ error_complete_status }}</div>
              {% endif %} </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}